﻿@model wwlp.MVC.ViewModels.UI.HomeUI
@section CSS {
    <!--Colocar aqui os CSS desta view -->
}
@section Scripts {
    <!--Colocar aqui os JS desta view -->
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@ViewData["Title"]</h3>
        </div>
    </div>

    <div class="clearfix"></div>
</div>