@section CSS {
    <link href="@Url.Content("~/vendors/select2/dist/css/select2.min.css")" rel="stylesheet" />
}
@section Scripts {
    <script src="@Url.Content("~/vendors/select2/dist/js/select2.full.min.js")"></script>
    <script type="text/javascript">
        $("#btnClose").hide();
        $("#btnRecalc").hide();      

        var Screen = new function () {
            this.TotalSystem = 0;
            this.TotalSoftware = 0;
            this.OneTimeCharge = 25.338;

            this.InsertSys = function () {
                Screen.TotalSystem++;
                Screen.SelectedSys.push($('.sel_sys').val());
                var html = "<tr><td>" + $('.sel_sys').val() + "</td></tr>";
                $("#tbSys").append(html);
                $('#mdDiv').modal('hide');
                $('#mdContent').html('');
            }
            this.AddSystem = function () {
                var html = '<h2 class="navbar-right">Select system</h2><br/><br/>System:<br/>';
                html += '<select class="sel_sys" onchange="Screen.InsertSys()">';
                $.each(Screen.ListSys.System, function (key, value) {
                    html += '<option value="' + value.Name + '">' + value.Name + '</option>';
                });
                html += '</select>';
                $('#mdContent').html(html);
                $('#mdDiv').modal('show');
                $(".sel_sys").select2();
            }
       
            this.InsertSoft = function () {
                Screen.TotalSoftware++;
                Screen.SelectedSoft.push({ "System:": $(".sel_sys").val(), "Software": $(".sel_soft").val(), "Value": 0 });

                var html = "<tr><td>" + $(".sel_sys").val() + "</td><td>" + $(".sel_soft").val() + "</td><td></td></tr>";
                $("#tbSoft").append(html);

                $('#mdDiv').modal('hide');
                $('#mdContent').html('');
            }
            this.AddSoft = function () {
                if (Screen.TotalSystem > 0) {
                    var html = '<h2 class="navbar-right">Select software for system</h2><br/><br/>System:<br/><select class="sel_sys">';
                    $.each(Screen.SelectedSys, function (key, value) {
                        html += '<option value="' + value + '">' + value + '</option>';
                    });
                    html += '</select><br/><br/>Software:<br/><select class="sel_soft">';

                    $.each(Screen.ListSoft.Software, function (key, value) {
                        html += '<option value="' + value.Name + '">' + value.Name + '</option>';
                    });
                    html += '</select><br/><br/><button class="btn btn-md btn-primary" onclick="Screen.InsertSoft()">Confirm</button>';

                    $('#mdContent').html(html);
                    $('#mdDiv').modal('show');

                    $(".sel_sys").select2();
                    $(".sel_soft").select2();
                } else {
                    alert("You need Select a System first.");
                }
            }


            this.ReCalculate = function () {
                $("#btnClose").show();
                $("#btnRecalc").hide();

                $("#spSoft").html(Screen.TotalSoftware);
                $("#spSys").html(Screen.TotalSystem);
                $("#spTotal").html("$ " + Screen.OneTimeCharge);
            }

            this.Calculate = function () {
                var c = 0;
                for (var r in Screen.SelectedSoft) {
                    c++;
                }
                if(c <= 0){
                    alert("You need to complete Customer Configuration");
                } else {
                    $("#btnCalc").hide();
                    $("#btnRecalc").show();

                    $("#spSoft").html(Screen.TotalSoftware);
                    $("#spSys").html(Screen.TotalSystem);
                    $("#spTotal").html("$ " + Screen.OneTimeCharge);
                }
            }

            this.ListSys = {
                "System": [
                    { "ID": "1", "Name": "Dell PowerEdge R630 - 2 HD SAS 15K 150GB, 196GB RAM, Dual Xeon  E5-4669V4" },
                    { "ID": "2", "Name": "Dell PowerEdge R630 - 2 HD SAS 15K 150GB, 196GB RAM, Dual Xeon  E5-4669V4" },
                    { "ID": "3", "Name": "Dell PowerEdge R630 - 2 HD SAS 15K 150GB, 196GB RAM, Dual Xeon  E5-4669V4" },
                    { "ID": "4", "Name": "Dell PowerEdge R630 - 2 HD SAS 15K 150GB, 196GB RAM, Dual Xeon  E5-4669V4" },
                    { "ID": "5", "Name": "Dell PowerEdge R630 - 2 HD SAS 15K 150GB, 196GB RAM, Dual Xeon  E5-4669V4" }
                ]
            };

            this.ListSoft = {
                "Software": [
                    { "ID": "1", "Name": "Windows Server 2016 R2 - Data Center", "Value": "1" },
                    { "ID": "2", "Name": "Windows Server 2016 R2 - Standard", "Value": "1" },
                    { "ID": "3", "Name": "CentOS Linux 7", "Value": "1" },
                    { "ID": "4", "Name": "Microsoft SQL Server 2016 - Enterprise", "Value": "1" },
                    { "ID": "5", "Name": "Microsoft SQL Server 2016 - Standard", "Value": "1" }
                ]
            }

            this.SelectedSys = [];
            this.SelectedSoft = [];
        }

    </script>
}
<div id="divBody" class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@ViewData["Title"]</h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Totals</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table>
                        <tr>
                            <td class="text-right">Systems:</td>
                            <td class="text-left"><span id="spSys">0</span></td>
                        </tr>
                        <tr>
                            <td class="text-right">Softwares:</td>
                            <td class="text-left"><span id="spSoft">0</span></td>
                        </tr>                        
                        <tr>
                            <td class="text-right">One Time Charge:</td>
                            <td class="text-left"><span id="spTotal">0</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>System</h2>
                    <button class="btn navbar-right btn-primary" onclick="Screen.AddSystem()"><i class="fa fa-plus-square"></i></button>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody id="tbSys">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>    

        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Software</h2>
                    <button class="btn navbar-right btn-primary" onclick="Screen.AddSoft()"><i class="fa fa-plus-square"></i></button>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>System</th>
                            <th>Software</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody id="tbSoft">
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

     <div class="row">
         <button id="btnCalc" class="btn btn-lg navbar-right btn-primary" onclick="Screen.Calculate()">Calculate</button>
         <button id="btnRecalc" class="btn btn-lg navbar-right btn-warning" onclick="Screen.ReCalculate()">Recalculate</button>
         <button id="btnClose" class="btn btn-lg navbar-right btn-success" onclick="location.href='/CustomerConfig'">Save Configuration</button>
     </div>
</div>

<div id="mdDiv" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body" id="mdContent">

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->